# Authentication
# Generated with openssl rand -base64 32
JWT_SECRET_KEY=tEUpd//haG6Pm2Pa0MZKQuoF4eQanmxKkeOp0Q3dKbU=

# Services configuration
GISA_AUTH_SERVICE_ENDPOINT=127.0.0.1
GISA_AUTH_SERVICE_PORT=8081