# Authentication
# Generated with openssl rand -base64 32
SECRET_KEY=tEUpd//haG6Pm2Pa0MZKQuoF4eQanmxKkeOp0Q3dKbU=

# Services configuration
GLS_AUTH_SERVICE_ENDPOINT=127.0.0.1
GLS_AUTH_SERVICE_PORT=8081