# Authentication
# Generated with openssl rand -base64 32
JWT_SECRET_KEY=tEUpd//haG6Pm2Pa0MZKQuoF4eQanmxKkeOp0Q3dKbU=

# Services configuration
GISA_IDENTITY_SERVICE_HOST="127.0.0.1"
GISA_IDENTITY_SERVICE_PORT="8081"

GISA_ASSOCIATE_SERVICE_HOST="127.0.0.1"
GISA_ASSOCIATE_SERVICE_PORT="8082"

GISA_PARTNER_SERVICE_HOST="127.0.0.1"
GISA_PARTNER_SERVICE_PORT="8083"
